body {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #191919;
}
.logo {
    margin: 0px;
    padding: 15px;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 0 0 3px black;
    transition: 0.4s;
}
.logo button {
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    border-width: 0px 0px 1px 0px;
    border-color: transparent;
    transition: 0.2s;
}
.logo button:hover {
    border-color: black;
}
.main {
    border-color: black;
}
.logo h2 {
    font-family:  "Dancing Script", cursive;
}
.content {
    background-color: white;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 0 10px black;
    font-family: arial;
    max-width: 70%;
}
.content h2 {
    font-family:  "Dancing Script", cursive;
}
.content h3 {
    font-weight: 300;
}
.content input {
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    border-style: double;
    padding: 5px;
    margin: 3px;
    background-color: white;
    transition: 0.2s;
    
}
.content input:focus {
    background-color: rgba(159, 233, 255, 0.13);
}
.content textarea {
    outline: none;
    resize: none;
    margin: 3px;
    padding: 5px;
    font-family: arial;
    border-color: black;
    border-radius: 0px;
}
.content textarea:focus {
    box-shadow: 0 0 2px black;
}
.content button {
    margin: 3px;
    padding: 5px;
    background-color: white;
    transition: 0.2s;
    border-width: 1px;
    border-style: double;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
}
.content button:hover {
    transform: translate(0px, -3px);
    box-shadow: 0 0 3px black; 
    background-color: rgba(36, 185, 36, 0.637);
    color: white;
}
.content li {
    background-color: transparent;
    list-style: none;
    padding: 5px;
    margin: 3px;
    border-radius: 0px;
    border-width: 1px;
border-color: black;
border-style: double;
}
.content strong {
    font-weight: 600;
    margin: 7px;
    padding: 5px;
    width: max-content;
}
.menu-button {
    position: fixed;
    top: 0;
    left: 0;
    margin: 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px black;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}


@media(max-width: 800px) {
    .logo {
        transform: translate(-100%, 0);
    }
    .menu-button {
        display: block;
    }
    }
@media(min-width: 800px) {
    .logo {
        transform: translate(0, 0);
    }
    .menu-button {
        display: none;
    }
    .menu-button-close {
        display: none;
    }
}